{% extends "base.html" %}

{% block maincontents %}

<style type="text/css">
.btn.btn-save{
    margin-top: 25px;
}
.btn-move-list{
    margin-top: 45px;
}
.btn-savelist{
    padding-right : 0px !important;
}
    .panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
    border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
    margin-bottom: -1px;
}
.panel-heading{
    background-color: #5cc2b2 !important;
    border-color: #5cc2b2 !important;
}
.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
}
.with-nav-tabs.panel-primary .nav-tabs > .open > a,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
    background-color: #3071a9;
    border-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
    color: #428bca;
    background-color: #fff;
    border-color: #428bca;
    border-bottom-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #428bca;
    border-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #fff;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    background-color: #4a9fe9;
}

#dataTable tr td {
    padding: 10px;
}

#dataTable tr th {
    padding: 10px;
}
</style>
    <div class="row">
        <div >
            <div class="panel with-nav-tabs ">
                <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li><a href="#update-service" data-toggle="tab">Update Products</a></li>
                        </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                            <div class="tab-pane fade " id="update-service">
                                    <div class="grid simple">
                                        <div class="grid-body grid-page-title">
                                            <h3 class="inline">Update<span class="semi-bold">Product</span></h3>
                                            <div class="clearfix"></div>
                                        </div>
                                        <form class="form-no-horizontal-spacing"
                                              id="service-update-form"
                                              action="{{ url_for('auth_views.oracle_org_update_product', product_id=product.id) }}" method="POST">
 <div class="row column-seperation">
                   <div class="col-md-5 "> <br>

            <form id="login-form" class="login-form" action="/accounts/login" method="post">
                <div class="row">
                    <div class="form-group col-md-10">
                        <label class="form-label" style="margin-bottom: 0px;">Product name</label>
                        <div class="input-with-icon right">
                            <i class=""></i>
                            <input type="text" name="product_name" id="product_name"  value="{{ product.product_name }}" class="form-control" placeholder="Please enter product name" style="border-radius: 4px;">
                        </div>
                    </div>
                </div>
                  <div class="row">
                    <div class="form-group col-md-10">
                        <label class="form-label" style="margin-bottom: 0px;">Product code</label>
                        <div class="input-with-icon right">
                            <i class=""></i>
                            <input type="text" name="product_code" id="product_code" value="{{ product.product_code }}" class="form-control" placeholder="Please enter product code" style="border-radius: 4px;">
                        </div>
                    </div>
                </div>
                 <div class="row">
                    <div class="form-group col-md-10">
                        <label class="form-label" style="margin-bottom: 0px;">Product cost</label>
                        <div class="input-with-icon right">
                            <i class=""></i>
                            <input type="number" name="product_cost" id="product_cost" value="{{ product.product_cost }}" class="form-control" placeholder="Please enter product cost" style="border-radius: 4px;">
                        </div>
                    </div>
                </div>

                <div class="form-actions">
                    <div class="pull-right">
                        <button class="btn btn-small btn-g-success btn-raised btn-cons ripple-effect"  type="submit"><i class="fa fa-hdd-o" aria-hidden="true"></i>Update</button>
                        <button class="btn btn-small btn-update ripple-effect btn-raised ripple-effect btn-cons cancel-button" type="reset" value="Cancel"><i class="fa fa-times-circle" aria-hidden="true"></i>Cancel</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
                                        </form>
                                        </div>
                             </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block js_scripts %}
    <script type="text/javascript">

            submitHandler: function (form) {
                $('#add-service-submit-btn').click(function(){
                    form.submit();
                });
                }
            });

        });

    </script>
    {% endblock %}