{% extends "base_other.html" %}

{% block title %}Login or Register{% endblock %}

{% block maincontents %}
    <br/>

    <div class="row column-seperation">
                   <div class="col-md-5 "> <br>
            <h4>Sign up</h4>
            <form id="login-form" class="login-form" action="{{ url_for('auth_views.oracle_org_register') }}" method="post">
                <div class="row">
                    <div class="form-group col-md-10">
                        <label class="form-label" style="margin-bottom: 0px;">Username</label>
                        <div class="input-with-icon right">
                            <i class=""></i>
                            <input type="text" name="username" id="username" class="form-control" placeholder="Please enter username" style="border-radius: 4px;">
                        </div>
                    </div>
                </div>
                 <div class="row">
                    <div class="form-group col-md-10">
                        <label class="form-label" style="margin-bottom: 0px;">Email Id</label>
                        <div class="input-with-icon right">
                            <i class=""></i>
                            <input type="text" name="email_id" id="email_id" class="form-control" placeholder="Please enter Email ID" style="border-radius: 4px;">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-10">
                        <label class="form-label" style="margin-bottom: 0px;">Password</label>
                        <span class="help"></span>
                        <div class="input-with-icon right">
                            <i class=""></i>
                            <input type="password" name="password" id="password" class="form-control" placeholder="Please enter password" style="border-radius: 4px;">
                        </div>
                    </div>
                </div>
                  <div class="row">
                    <div class="form-group col-md-10">
                        <label class="form-label" style="margin-bottom: 0px;">Repeat Password</label>
                        <span class="help"></span>
                        <div class="input-with-icon right">
                            <i class=""></i>
                            <input type="password" name="password2" id="password2" class="form-control" placeholder="Please enter password" style="border-radius: 4px;">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="control-group  col-md-10">
                        <div class="checkbox checkbox check-success">

                            <input type="checkbox" id="checkbox1" value="1" name="is_head_merchant">
                            <label for="checkbox1"><strong> Is user a head merchant? </strong></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <button class="btn btn-small btn-g-success btn-raised ripple-effect btn-cons pull-right" type="submit" style="margin-right: 200px;margin-top: 10px;">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}




